doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        div
            a(href="/update-cobj") Add to this table
        br
        table
            tr
                td Name
                td Genre
                td Platforms
            each item in data
                tr 
                    td #{item.properties.name}
                    td #{item.properties.genre}
                    td #{item.properties.platforms}