@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-block: 1rem;
}

table tr:first-child td {
    font-weight: bold;
    background-color: #FACAD2;
}
table tr:not(:first-child) td {
    border: 1px solid #000;
}